:root {
  --font-sans: "Roboto", sans-serif;
  --color-dark: #171310;
  --color-light: #fff;
  --color-gold: #7f7156;
  --color-gold-light: #c1ac82;
  --color-red: #e41b13;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 24px;
  --fz-heading: 32px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1400px;
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 0.5em 0.8em;
  border: 1px solid;
  font-size: var(--fz-sm);
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
.top-banner {
  padding: 0.9em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-size: var(--fz-xs);
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--color-gold-light);
  background-color: var(--color-dark);
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--color-light);
  z-index: 100;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.header-grid {
  padding: 1rem 0;
  display: grid;
  grid-template-rows: auto auto;
}
@media (min-width: 1024px) {
  .header-grid {
    grid-template-columns: auto 1fr;
  }
}
.header-logo {
  margin: auto 0;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .header-logo {
    grid-row: 1/span 2;
    margin-bottom: 0;
  }
}
.header-grid-inner {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
@media (min-width: 1024px) {
  .header-grid-inner {
    grid-template: auto auto/1fr auto;
    grid-template-areas: ". shop" "search nav";
    grid-area: 1/2/3/3;
  }
}
.header-main-nav {
  display: none;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .header-main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 1.5;
    grid-area: nav;
  }
}
@media (min-width: 1200px) {
  .header-main-nav {
    font-size: 19px;
  }
}

.header .logo-content {
  height: 4rem;
}
@media (min-width: 1024px) {
  .header .logo-content {
    height: 6rem;
  }
}
@media (min-width: 1200px) {
  .header .logo-content {
    height: 7rem;
  }
}
.header .logo-content img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 1024px) {
  .shop-nav {
    grid-area: shop;
  }
}
.shop-nav-list {
  display: flex;
  justify-content: space-between;
  color: var(--color-gold);
  font-size: var(--fz-xs);
}
@media (min-width: 1024px) {
  .shop-nav-list {
    justify-content: flex-end;
  }
}
.shop-nav-item {
  margin-right: 0.5rem;
}
@media (min-width: 1024px) {
  .shop-nav-item {
    margin-right: 2em;
  }
}
.shop-nav-item:last-child {
  margin-right: 0;
}
.shop-nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-nav-item span {
  display: none;
}
@media (min-width: 1024px) {
  .shop-nav-item span {
    display: block;
    margin-top: 0.5rem;
  }
}
.shop-icon-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
}
@media (min-width: 1024px) {
  .shop-icon-outer {
    width: 44px;
    height: 44px;
    background-color: var(--color-gold);
    border-radius: 50%;
  }
}
.shop-icon-inner {
  color: var(--color-gold);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
@media (min-width: 1024px) {
  .shop-icon-inner {
    color: var(--color-light);
  }
}

@media (min-width: 1024px) {
  .header-search {
    grid-area: search;
    display: flex;
    align-items: flex-end;
  }
}
.header-search__form {
  display: none;
}
@media (min-width: 768px) {
  .header-search__form {
    display: block;
    width: 100%;
  }
}

.search {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: 1rem;
  color: var(--color-gold);
}
.search input::placeholder {
  font-size: var(--fz-sm);
}
@media (min-width: 1024px) {
  .search {
    max-width: 300px;
    width: 80%;
    color: var(--color-red);
  }
}

.main-nav-list {
  display: flex;
  align-items: center;
  color: var(--color-red);
  font-weight: 700;
}
.main-nav-item {
  margin-right: 1.5rem;
}
@media (min-width: 1200px) {
  .main-nav-item {
    margin-right: 2rem;
  }
}
.main-nav-item:last-child {
  margin-right: 0;
}

.header-mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gold);
  padding: 0.4rem;
}
.header-mobile-button svg {
  width: 24px;
  height: 24px;
}
.header-mobile-button span {
  margin-left: 0.5rem;
  font-weight: 700;
  font-size: var(--fz-md);
}
@media (min-width: 1024px) {
  .header-mobile-button {
    display: none;
  }
}
.header-mobile-button__search {
  margin-left: auto;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .header-mobile-button__search {
    display: none;
  }
}

section .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  section .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}
.section-heading h2 {
  font-size: var(--fz-lg);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.1em 0.3em;
  color: var(--color-dark);
  background-color: var(--color-light);
}
@media (min-width: 1200px) {
  .section-heading h2 {
    font-size: var(--fz-lg);
  }
}
.section-heading .subheading {
  display: block;
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--color-light);
  max-width: 20ch;
  text-align: center;
}
@media (min-width: 1200px) {
  .section-heading .subheading {
    font-size: 2.8rem;
  }
}
.section-heading--red h2 {
  color: var(--color-light);
  background-color: var(--color-red);
}
.section-heading--red .subheading {
  color: var(--color-red);
}

/* Main Banner Section */
.slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .slide {
    height: 60vh;
  }
}
.slide-first {
  background-image: url("../assets/images/slide-1.png");
}
.slide-box {
  margin-top: 1rem;
}

.overlay-box {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--color-gold);
  padding: 2rem;
}
@media (min-width: 768px) {
  .overlay-box {
    margin: 0 auto;
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .overlay-box {
    width: 50%;
    margin-left: 50%;
    padding: 3rem;
  }
}
.overlay-box h2 {
  max-width: 25ch;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1em;
}
@media (min-width: 1200px) {
  .overlay-box h2 {
    font-size: 2.2rem;
  }
}
.overlay-box h2 strong {
  font-weight: 500;
  display: block;
}
.overlay-box p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1em;
  max-width: 50ch;
}
@media (min-width: 1200px) {
  .overlay-box p {
    font-size: 1.3rem;
  }
}

/* Assortment Section */
.assortment-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(200px, 350px);
  justify-content: space-around;
  grid-gap: 4rem;
}
@media (min-width: 768px) {
  .assortment-grid {
    grid-template-columns: repeat(3, minmax(200px, 350px));
    grid-gap: 1rem;
  }
}
.assortment-grid_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  border: 4px double rgba(255, 255, 255, 0.1);
}
.assortment-grid_column .button {
  width: 100%;
  text-align: center;
}
.assortment-icon {
  margin-bottom: 1rem;
  width: 60%;
}
@media (min-width: 1200px) {
  .assortment-icon {
    width: 80%;
  }
}
.assortment-icon img {
  width: 100%;
  object-fit: cover;
}
.assortment-title {
  font-size: var(--fz-heading);
  color: var(--color-red);
  margin-bottom: 0.5rem;
}
.assortment-description {
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

/* Products Section */
.products {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/products_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-light);
}
.products .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-list {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 450px);
  grid-gap: 1rem;
  justify-content: space-around;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    margin-bottom: 5rem;
  }
}
.products .product {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-light);
}
@media (min-width: 480px) {
  .products .product {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .products .product {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .products .product {
    height: 500px;
  }
}
.products .product img {
  height: 100%;
  object-fit: contain;
}

/* Brands Section */
.brands-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
@media (min-width: 480px) {
  .brands-grid {
    grid-gap: 2rem;
  }
}
@media (min-width: 768px) {
  .brands-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.brands .brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands .brand-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Newsletter Section */
.newsletter {
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/images/newsletter_background.png");
}

.email {
  display: flex;
  flex-direction: column;
  color: var(--color-gold);
}
.email input {
  margin-bottom: 1.5rem;
}
.email button {
  align-self: flex-start;
  color: inherit;
}

.form-input-group {
  position: relative;
}

.input-field {
  width: 100%;
  display: block;
  border: none;
  background: none;
  color: inherit;
  font-size: 1rem;
  padding-right: 3rem;
  line-height: 2rem;
  border-bottom: 1px solid;
}
.input-field:focus {
  outline: none;
}
.input-field::placeholder {
  color: inherit;
}
.input-field::-webkit-input-placeholder {
  color: inherit;
}
.input-field::-ms-input-placeholder {
  color: inherit;
}

.form-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--fz-md);
  width: 2rem;
  height: 2rem;
  color: inherit;
  border: none;
  background: none;
  padding: 8px;
}
.form-button svg {
  width: 100%;
  height: 100%;
}

.overlay-container {
  position: relative;
}
.overlay-container:hover .overlay-content {
  opacity: 1;
}
.overlay-content {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  color: var(--color-gold-light);
  transition: opacity 0.5s ease;
}
.overlay-content p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 4rem);
  text-align: center;
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.footer-upper {
  line-height: 1.5;
  padding: 2rem 0;
}
.footer-upper-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer-upper-flex {
    flex-direction: row;
  }
}
.footer-bottom {
  background-color: var(--color-gold);
  padding: 1rem 0;
}
.footer-bottom-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer-bottom .copy {
  padding: 1rem 0;
}
.footer-subsection {
  margin-bottom: 3rem;
}
.footer-heading {
  font-size: 1rem;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}
@media (min-width: 1024px) {
  .footer-heading {
    letter-spacing: normal;
  }
}
.footer-item a {
  display: inline-block;
  padding: 0.2em 0;
}
@media (min-width: 1024px) {
  .footer-item a {
    padding: 0;
  }
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}
.footer-nav-item:not(:last-child) {
  padding: 0 0.5rem;
  position: relative;
}
.footer-nav-item:not(:last-child)::after {
  content: "";
  border-right: 1px solid var(--color-light);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 70%;
  transform: translateY(-50%);
}
.footer-nav-item:last-child {
  padding-left: 0.5rem;
}

.contact {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  border-bottom: 4px double rgba(255, 255, 255, 0.1);
}
.contact a {
  display: block;
}
@media (min-width: 1024px) {
  .contact {
    border-bottom: none;
    align-items: flex-start;
  }
}
.contact .logo {
  width: 172px;
  margin-bottom: 2rem;
}
.contact .logo img {
  width: 100%;
  object-fit: contain;
}
.contact-info {
  font-weight: 700;
  margin-bottom: 1rem;
}

.social-list {
  display: flex;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: 0.5rem;
}
.social-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.social-icon svg {
  width: 100%;
  height: 100%;
}

.payment a {
  display: inline-block;
  width: 3rem;
}
.payment a:not(:last-child) {
  margin-right: 0.5em;
}
.payment a img {
  width: 100%;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
