.overlay {
  &-container {
    position: relative;

    &:hover {
      .overlay-content {
        opacity: 1;
      }
    }
  }

  &-content {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    color: var(--color-gold);
    transition: opacity 0.5s ease;

    p {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
